      <ion-view title="账户">

        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
          <!-- <button class="button button-icon icon ion-navicon"></button> -->
           <!-- <ion-nav-back-button class="button-icon ion-navicon">  </ion-nav-back-button> -->
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>

        </ion-nav-bar>

          <div id="qrcode"></div>
          <script type="text/javascript">
            new QRCode(document.getElementById("qrcode"), "http://jindo.dev.naver.com/collie");
          </script>

      </ion-view>