<ion-view view-title="其他">
<ion-nav-bar class="bar-positive">
	<ion-nav-buttons side="primary">
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="onClickBackward()">
		</button>
	</ion-nav-buttons>
</ion-nav-bar>
<div class="bar-shadow"></div>
	<ion-content>
		
		<div style="text-align:center;padding:20px;">
        <button class="button button-outline button-positive" style="width:60px;height:30px;" ng-click="onClickBackward()"> 
        <span style="font-size:15px;color:blue;font-weight:bold">确定</span>
        </button>
	</ion-content>

</ion-view>