<ion-view cache-view="false" view-title="其他">
	<ion-nav-bar class="bar-positive">
		<ion-nav-buttons side="primary">
			<button class="button button-icon ion-arrow-left-c" ng-click="onClickBackward()">
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="secondary">
			<button class="button" ng-click="Confirm()" ng-if="isloaded">保存</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<div class="bar-shadow"></div>
	<ion-content>	
		<ion-checkbox ng-model = "item.ControlType" ng-repeat = "item in task.list">
        {{item.Name}}
        </ion-checkbox>				
	</ion-content>
</ion-view>