<ion-view cache-view="false" view-title="计划列表">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
		<ion-nav-buttons side="secondary">			
			<ion-nav-buttons side="secondary">
				<button class="button" ng-click="backtomain()" ng-if="isloaded">确定</button>
			</ion-nav-buttons>
		</ion-nav-buttons>
	</ion-nav-bar>
	<div class="bar-shadow"></div>
	<ion-content>
		<div class="list">
			<a class="item" href="#/addpatient/taskList" ng-repeat = "item in create.PlanList" ng-click="SavePlanNo(item.PlanNo)">      {{item.PlanName}}{{item.StartDate}}{{item.EndDate}}
	        </a>
    	</div>

    	<div style="text-align:center;padding:20px;">
	        <button class="button button-outline button-positive" style="width:60px;height:30px;" ng-click="CreatePlan()" ng-if="create.AddFlag" >
	        	<span style="font-size:15px;color:blue;font-weight:bold">添加计划</span>
	        </button>
        </div>   	
    </ion-content>	
</ionic view>