<ion-view view-title="药物列表">
	<ion-nav-buttons side="primary">
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="$ionicGoBack()">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="secondary">
		<button class="button icon-right" ng-click="addItem()">
			<i class="icon ion-plus"></i>
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class = "list">
			<a class = "item item-icon-right" ng-repeat = "item in task.list " href = "#">
			{{item.Name}}
				<div ng-click="EditTask(item)">
				    <i class="icon ion-edit" style="margin-right:40px;"></i>	
				</div>
				<div ng-click="RemoveItem(item)">
				    <i class="icon ion-ios-minus"></i>
				</div>
			</a>
		</div>
		<div style="text-align:center;padding:20px;">
        <button class="button button-outline button-positive" style="width:60px;height:30px;" ng-click="$ionicGoBack()"> 
        <span style="font-size:15px;color:blue;font-weight:bold">确定</span>
        </button>
	</ion-content>

</ion-view>