<ion-view view-title="上传认证资料" hide-nav-bar="true">

<ion-header-bar >
  <h1 class="title">上传认证资料</h1>
</ion-header-bar>

<ion-content>

<ion-list class="list-inset">
  <!-- <ion-item ng-repeat="item in items"> -->
  <label class="item item-input">
    <input type="text" placeholder="姓名" ng-model="Info.name">
    
  </label>
    <label class="item item-input">
    <input type="text" placeholder="性别" ng-model="Info.gender">
    
  </label>
    <label class="item item-input">
    <input type="text" placeholder="生日" ng-model="Info.birthday">
    
  </label>

    <div class="item item-divider">详细信息</div>
    <label class="item item-input" collection-repeat="item in DtInfo">
      <input type="text" placeholder=" {{item.t}}" ng-model="item.v">
     <!--  {{item.v}} -->
    </label>
  <!-- </ion-item> -->
</ion-list>

<!-- <img ng-src="{{lastPhoto}}" style="max-width: 100%"> -->
<img ng-show="imgURI != undefined"  ng-click="onClickCamera($event)" ng-src="{{imgURI}}" height=100 width =100>
<img ng-show="imgURI == undefined" ng-click="onClickCamera($event)" ng-src="img/plus.png" height=100 width=100>

<!--  {{"http://placehold.it/300?text=placehold.it+fuck!"}}
 --><!--   <ion-list>
    <div class="list list-inset">
    <label class="item item-input">
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last Name">
    </label>
  </div>

  <div class="list list-inset">
    <label class="item item-input">
      <input type="text" placeholder="Hobby">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Sex Orientation">
    </label> -->
</div>
<div class = "padding">
   <button class="button button-block button-positive icon ion-camera" ng-click="onClickCamera($event)">
        上传照片
  </button>
</div>


<div class = "padding">
   <button class="button button-block button-positive" ng-click="onClickSubmit()">
        提交
  </button>
</div>

<div class = "padding">
<button class="button button-block button-clear button-positive" ng-click="onClickSkip()">
        跳过
 </button>
</div>
  
    </ion-view>
  </ion-content>
</ion-list>



<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">上传照片</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list> 
        <div class = "padding">
          <button class="button button-block button-primary " ng-click="getPhoto()">
              照相机
          </button>
        
          <button class="button button-block button-primary " ng-click="onClickCameraPhotos()">
              相册
          </button>
        </div>
        <div class = "padding">
          <button class="button button-block button-primary " ng-click="onClickCameraCancel()">
              取消
          </button>
        </div>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</script>
