<ion-view view-title="现有病人">
  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon " ng-click="doSomething()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-qr-scanner " ng-click="QRscan()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

<!-- <ion-header-bar>
  <div class="h1 title">现有病人</div>
</ion-header-bar> -->

<!--   <ion-header-bar class="bar-balanced">
    <h2 class="title">Patient List</h2>

    <button class ="button button-icon ion-minus-circled" ng-click ="data.showDelete = !data.showDelete; showReorder = false;"></button>

    <button class ="button button-icon ion-navicon" ng-click ="data.showReorder = !data.showReorder; showDelete = false;"></button>
  </ion-header-bar> -->


<!--   <div class="bar bar-subheader 
    item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div> -->
<div class="bar bar-subheader item-input-inset bar-light" style="padding:0px !important">
    <div style="width:50%" class="item item-input item-select">
      <div class="input-label">
        筛选
      </div>
      <select>
        <option selected="selected">全部患者</option>
        <option>高血压</option>
        <option>糖尿病</option>
      </select>
    </div>
    <div style="width:51%" class="item item-input item-select">
      <div class="input-label">
        排序
      </div>
      <select ng-model="rankBy" ng-change="rankPatients()" >
        <option selected="selected">默认排序</option>
        <option>计划进度</option>
        <option>依从率</option>
      </select>
    </div>
  </div>
  <ion-content class="has-subheader" padding="true">       
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list> 
    <!-----！！ion-item里的注释勿动 IMPORTANT！！---------------------------->
      <ion-item style="padding:0" ng-repeat="patient in patients track by $index" ng-click="PIDdetail(patient.UserId)" >
        <!-- <img ng-src="img/male.png"> -->
        <div class="row">
          <!-- <div class="col-10 "><div class="row"><h2>类别</h2><br></div><div class="row"><h2>消息</h2></div></div>  -->
          <!-- <div class="col-90"> -->
            <!-- <div class="row"> -->
              <div class="col-67">
                <div class="row ">
                  <div class="col-50"><h3><!--<i class="icon ion-chevron-right"></i>-->  {{patient.UserName}}</h3></div>
                  <div class="col-50"><h1 >{{patient.Age}}岁      {{patient.GenderText}}</h1></div>
                </div>
                <div class="row">
                  <div class="col-100"><b><i class="icon ion-pie-graph"></i> {{patient.Module}}</b></div>
                </div> 
              </div>
              <div class="col-33">
                <div class="item-row">
                  <div class="col-40">
                    <div class="row"><b>依从率</b></div>
                    <div class="row"><h3>{{patient.Age}}%</h3></div>
                  </div>
                  <i ng-hide="!ishide(patient)" style="font-size:2em;color:#c55e19" class="icon ion-sad"></i>
                  <i ng-hide="ishide(patient)" style="font-size:2em;color:#33cd5f" class="icon ion-happy"></i>
                </div>
              </div>  
            </div>
            <div class="row">
        
          <b style="padding:0 10px 0 5px"><i class="icon ion-arrow-graph-up-right"></i> 计划进度</b>
          <div style="background-color:#FEDACC; border:#DDDDDD 1px solid;width:100%">
          <div ng-style="setwidth(patient)" class="processbar"><p style="color:#FFFFFF;text-align:right">{{patient.Age}}%</p></div>
          </div>
        
            </div>
          <!-- </div>   -->
        <!-- </div>         -->
      </ion-item>
    </ion-list>
  <ion-infinite-scroll ng-if="!moredata" on-infinite="loadMore()" distance="15%" ></ion-infinite-scroll>
  </ion-content>
</ion-view>