<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  
<!--   <ion-tab title="主页" icon-off="ion-ios-home" icon-on="ion-ios-home-outline" href="#/coach/home">
    <ion-nav-view name="coach-home"></ion-nav-view>
  </ion-tab> -->

<!--   <ion-tab title="上传信息" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/coach/upload">
    <ion-nav-view name="coach-upload"></ion-nav-view>
  </ion-tab> -->

<!--   <ion-tab title="设置" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/coach/config">
    <ion-nav-view name="coach-config"></ion-nav-view>
  </ion-tab> -->

<!--   <ion-tab title="个人信息23333" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/coach/personalinfo">
    <ion-nav-view name="coach-personalinfo"></ion-nav-view>
  </ion-tab> -->

<!--   <ion-tab title="schedule" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/coach/schedule">
    <ion-nav-view name="coach-schedule"></ion-nav-view>
  </ion-tab> -->
<!--   <ion-nav-view name="coach-config"></ion-nav-view>
  <ion-nav-view name="coach-personalinfo"></ion-nav-view>
  <ion-nav-view name="coach-schedule"></ion-nav-view> -->
<ion-footer-bar>
  <ion-tab title="我的患者" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/coach/patients">
    <ion-nav-view name="coach-patients"></ion-nav-view>
  </ion-tab>  

  <ion-tab title="新患者（点这里会挂）" icon-off="ion-android-person-add" icon-on="ion-android-person-add" href="#/coach/addpatients">
    <!-- <ion-nav-view name="coach-addpatients"></ion-nav-view> -->
  </ion-tab>  

  <ion-tab title="通知" icon-off="ion-android-mail" icon-on="ion-android-mail"  badge="130" badge-style="badge-assertive" href="#/coach/message">
    <ion-nav-view name="coach-message"></ion-nav-view>
  </ion-tab>
  <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/coach/i">
    <ion-nav-view name="coach-me"></ion-nav-view>
  </ion-tab>
<!--   <ion-tab title="me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/coach/i">
    <ion-nav-view name="coach-me"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
</ion-footer-bar>
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->




  
  <!--   <ion-nav-view name="coach-home"></ion-nav-view>
  


    <ion-nav-view name="coach-upload"></ion-nav-view>
 


    <ion-nav-view name="coach-config"></ion-nav-view>



    <ion-nav-view name="coach-personalinfo"></ion-nav-view>


 
    <ion-nav-view name="coach-schedule"></ion-nav-view>  -->

<!--     <ion-tabs class="tabs-icon-top tabs-color-active-positive">

      <ion-tab title="My patients" icon = "ion-ios-people" >
        我的患者
      </ion-tab>

      <ion-tab title="New" icon="icon ion-android-person-add">
       新患者
      </ion-tab>

      <ion-tab title="Notification" icon="icon ion-android-mail" badge="5" badge-style="badge-assertive">
        通知
      </ion-tab>

      <ion-tab title="Me" icon="ion-ios-person">
        我
      </ion-tab>

    </ion-tabs>   -->