<ion-view title="现有病人">

  <ion-header-bar align-title="middle" class="bar-positive">
    <div class="buttons">
      <button class="button button-icon icon ion-qr-scanner " ng-click="QRscan()"></button>
    </div>  
    <h1 class="title">现有病人</h1>
        <div class="buttons">
      <!-- <a class="button  button-outline button-light" ng-click="popover.show($event)">筛选</a> -->
      <a class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)"></a>
    </div>
<!--     <div class="buttons">
      <button class="button button-icon icon ion-search" ng-click="openSearch()"></button>
    </div> -->
  </ion-header-bar>
  
  <!-- <ion-nav-bar  style="z-index:100" class="bar-positive nav-title-slide-ios7"> -->
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-qr-scanner " ng-click="QRscan()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <!-- <a class="button button-outline button-light" ng-click="popover.show($event)">筛选</a> -->
      <a class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)"></a>
    </ion-nav-buttons>
<!--     <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-search " ng-click="openSearch()"></button>
    </ion-nav-buttons> -->
<!--   </ion-nav-bar> -->
<!--   <div class="bar bar-subheader item-input-inset bar-light" style="padding:0px !important;border-bottom:#EEEEEE 1px solid">
    <div style="width:50%" class="item item-input item-select">
      <div class="input-label">
        筛选
      </div>
      <select>
        <option selected="selected">全部患者</option>
        <option>高血压</option>
        <option>糖尿病</option>
      </select>
    </div>
    <div style="width:51%" class="item item-input item-select">
      <div class="input-label">
        排序
      </div>
      <select ng-model="rankBy" ng-change="rankPatients()" >
        <option selected="selected">默认排序</option>
        <option>计划进度</option>
        <option>依从率</option>
      </select>
    </div>
  </div> -->
  <div class="bar bar-subheader item-input-inset bar-light">
    <div class="item-input-wrapper">
      <i class="icon ion-android-search placeholder-icon"></i>
      <input type="search" ng-focus="saveNow()" ng-model="query.PatientName" ng-change="startSearch(query)" placeholder="搜索姓名">
      <i class="icon ion-android-close placeholder-icon" ng-hide="clearIt" ng-click="clearSearch()"></i>
    </div>
  </div>  
  <div ng-click="scrollTop()" ng-touch="fade" ng-style="needtoTop" class="text-center" style="position: absolute;bottom:60px;right:15px;z-index:100;display:block;width:46px;height:46px;background-color:#11C1F3;border-radius:23px;box-shadow:0px 2px 3px #888;">
    <i style="font-size:3.2em;color:#FFF" class="icon ion-android-arrow-up"></i>
  </div>
  <div class="sub-bar-shadow"></div>
  <ion-content delegate-handle="myPatientScroll" class="has-subheader content-item-list" on-scroll="onScoll()">   
  
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list> 
    <!-----！！ion-item里的注释勿动 IMPORTANT！！---------------------------->
      <div  collection-repeat="patient in patients |filter:byRange() " collection-item-height="105px"  ng-click="PIDdetail(patient)" >
      <ion-item class="item-thumbnail-left item-margin ">
        <img src="{{patient.photoAddress}}">
        <div style=" padding-left:84px">
        <div class="row">
          <!-- <div class="col-10 "><div class="row"><h2>类别</h2><br></div><div class="row"><h2>消息</h2></div></div>  -->
          <!-- <div class="col-90"> -->
            <!-- <div class="row"> -->
              <div class="col-75">
                <div class="row " style="padding-right:0">
                  <div class="col-67"><h5><!--<i class="icon ion-chevron-right"></i>-->  {{patient.PatientName}}</h5></div>
                  <div class="col-33"><h6 >{{patient.Age}}岁      {{patient.GenderText[0]}}</h6></div>
                </div>
                <div class="row">
                  <div class="col-100"><p><i class="icon ion-pie-graph"></i> {{patient.Module}}</p></div>
                </div> 
              </div>
              <div class="col-25">
                <div class="item-row">
                  <div class="col-40">
                    <div class="row"><p>依从率</p></div>
                    <div class="row" ><h5 ng-style="tcolor(patient.ComplianceRate)">{{patient.ComplianceRate}}%</h5></div>
                  </div>
           <!--        <i ng-hide="!ishide(patient)" style="font-size:2em;color:#fb6a1b" class="icon ion-sad"></i>
                  <i ng-hide="ishide(patient)" style="font-size:2em;color:#33cd5f" class="icon ion-happy"></i> -->
                </div>
              </div>  
            </div>
            <div class="row">
          <!-- <div class="col-25"> -->
          <p style="margin:0 2px 0 5px;width:60px" ><i class="icon ion-arrow-graph-up-right"></i> 进度 </p>
          <!-- </div> -->
          <div  style="background-color:#E6E6E6; border:#DDDDDD 1px solid;width:100%">
          <div ng-style="setwidth(patient.Process)" class="processbar"><p style="color:#FFFFFF;text-align:right">{{patient.Process}}%</p></div>
          </div>
        
            </div>
          </div>
          <!-- </div>   -->
        <!-- </div>         -->
        </ion-item>
      </div>
      
    </ion-list>
  <ion-infinite-scroll ng-if="!moredata" on-infinite="loadMore()" distance="15%" ></ion-infinite-scroll>
  </ion-content>
</ion-view>