<ion-view view-title="Calendar" hide-nav-bar="true">

<ion-header-bar class="bar bar-positive">
  <button class="button button-icon icon ion-arrow-left-a" ng-click="onClickBackward()"></button>
  <div class="h1 title">个人日程</div>
</ion-header-bar>


<ion-content class="padding">
    <div class = "list card">
      <div class = "item-divider">
            本次预约时间为：
            {{event.DateTime}}  的  {{event.Period}}
      </div>

        <ion-list>
          <div class="item item-icon-left" ng-repeat = "item in eventdetail">
              <i class="icon ion-calendar"></i>
                {{item}}
          </div>
        </ion-list>
    </div>

    <span class="button button-block button-positive icon-left ion-wrench" ng-click = "onClickChangeApp()">修改时间</span>

    <span class="button button-block button-assertive icon-left ion-close" ng-click = "onClickCancelApp()">取消预约</span>

</ion-content>


<script id="my-modal-2.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class = "bar-positive">
      <div class="button button-clear" ng-click = "onClickConfirm()">确认</div>
      <h1 class="title">修改时间</h1>
      <div class="button button-clear" ng-click = "onClickCancel()">取消</div>
    </ion-header-bar>
    <ion-content class ="padding">

      <div class="item item-divider item-divider-calm"> 新增 </div> 



  <label class="item item-input item-select">
    <div class="input-label">
      选择日期（未来30天）
    </div>
    <select ng-model = "event.DateTime">
      <option ng-repeat =  "item in datesOptions" >{{item.toLocaleDateString()}}</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      选择时间
    </div>
    <select ng-model = "event.Period">
      <option selected>上午</option>
      <option >下午</option>
      <option >晚上</option>
    </select>
  </label>
    </ion-content>
  </ion-modal-view>
</script>