<ion-view view-title="设置" >


<!-- 	<ion-header-bar >
	  <button class="button button-icon icon ion-arrow-left-a" ng-click="onClickBackward()">返回</button>
	  <div class="h1 title">设置</div>
	</ion-header-bar> -->

	<ion-nav-bar class="bar-balanced nav-title-slide-ios7">
      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-arrow-left-a " ng-click="onClickBackward()"></button>
      </ion-nav-buttons>
	</ion-nav-bar>

<ion-content>
	<div class ="padding">

	
		<button class="button button-block button-primary" ng-click="onClickChangePassword()">
		  修改密码
		</button>
	</div>	
	
	<div class ="padding">
		<button class="button button-block button-assertive" ng-click="onClickSignOut()">
		  退出登录
		</button>	

	</div>	
		
  </ion-content>
</ion-view>