<ion-view view-title="上传认证资料" hide-nav-bar="true">

  <ion-header-bar class="bar bar-positive">
    <h1 class="title">上传认证资料</h1>
  </ion-header-bar>

<ion-content>

<ion-list class="list-inset">

  <label class="item item-input">

    <span class="input-label" >姓名</span>
    
    <input type="text" style = "text-align:right" ng-model="userInfo.BasicInfo.name">    
  </label>


  <label class="item item-input item-select">
    <div class="input-label">
      性别
    </div>
    <select ng-model="userInfo.BasicInfo.gender">
      <option>男</option>
      <option>女</option>
    </select>
  </label>


  <a class="item" ng-if="loadingDone">
        <ionic-datepicker input-obj="datepickerObject">
        <div>
        <span>生日</span>
        <span class="item-note ">
          {{userInfo.BasicInfo.birthdayforshow}}
        </span>
      </div>
        </ionic-datepicker>
       
  </a>

    <div class="item item-divider">详细信息</div>

    <label class="item item-input item-select" >

      <div class="input-label">
      工作单位
      </div>
      <select ng-model="userInfo.DtInfo.unitname">
        <option>海军总医院</option>
        <option>其他</option>
<!--         <option>浙医二院</option>
        <option>浙医一院</option> -->
      </select>

    </label>



    <label class="item item-input item-select" >

      <div class="input-label">
      科室
      </div>
      <select ng-model="userInfo.DtInfo.dept">
        <option>心内科门诊</option>
        <option>内分泌科</option>
      </select>

    </label>

    <label class="item item-input item-select" >

      <div class="input-label">
      职务
      </div>
      <select ng-model="userInfo.DtInfo.jobTitle">
        <option>医士</option>
        <option>住院医师</option>
        <option>主治医师</option>
        <option>副主任医师</option>
        <option>主任医师</option>
      </select>

    </label>

    <label class="item item-input item-select" >

      <div class="input-label">
      职级
      </div>
      <select ng-model="userInfo.DtInfo.level">
        
        <option>副高</option>
        <option>正高</option>
        <option>中级</option>
        <option>初级</option>
      </select>

    </label>
</ion-list>

<!-- <div class="item item-avatar"> -->
<div class="padding" >

  <div class style ="height=100; width =100; display:block; text-align:center;">
    <img  ng-src="{{imgURI}}" width = 200 height = 200 >
  </div>
</div>


<!--  {{"http://placehold.it/300?text=placehold.it+fuck!"}}
 --><!--   <ion-list>
    <div class="list list-inset">
    <label class="item item-input">
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last Name">
    </label>
  </div>

  <div class="list list-inset">
    <label class="item item-input">
      <input type="text" placeholder="Hobby">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Sex Orientation">
    </label> -->
</div>
<div class = "padding">
   <button class="button button-block button-positive icon ion-camera" ng-click="onClickCamera($event)">
        上传认证照片
  </button>
</div>


<div class = "padding">
   <button class="button button-block button-positive" ng-click="onClickSubmit()">
        提交
  </button>
</div>

<div class = "padding">
<button class="button button-block button-clear button-positive" ng-click="onClickSkip()">
        跳过
 </button>
</div>
  
    </ion-view>
  </ion-content>
</ion-list>



<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">上传照片</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list> 
        <div class = "padding">
          <button class="button button-block button-primary " ng-click="getPhoto()">
              照相机
          </button>
        
          <button class="button button-block button-primary " ng-click="onClickCameraPhotos()">
              相册
          </button>
        </div>
        <div class = "padding">
          <button class="button button-block button-primary " ng-click="onClickCameraCancel()">
              取消
          </button>
        </div>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</script>
