<!-- <ion-view view-title="个人日程" hide-nav-bar="true">


<ion-header-bar >
  <button class="button button-icon icon ion-arrow-left-a" ng-click="onClickBackward()">返回</button>
  <div class="h1 title">个人日程</div>
</ion-header-bar>

  <ion-content>




 </ion-content>

  </ion-view> -->


<ion-view view-title="Calendar" hide-nav-bar="true">

<ion-header-bar class="bar bar-positive">
  <button class="button button-icon icon ion-arrow-left-a" ng-click="onClickBackward()">返回</button>
  <div class="h1 title">个人日程</div>
  <button class="button button-icon icon ion-plus" ng-click="onClickTest()"></button>
</ion-header-bar>

<div class="bar bar-subheader 
  item-input-inset bar-light">
  <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="query" placeholder="Search">
  </label>
</div>

<ion-content class="has-subheader padding" >


<div class ="calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="calendar" ng-if = "loadingDone" disableTap></div>

<div  ng-repeat = " item in events">
    <!-- <div class="item item-divider item-divider-calm">  </div> -->
    
   

      <h2>{{item.title}}</h2>
      <h2> {{item.start.getMonth() +1 }}-{{item.start.getDate()}} </h2>

      {{ item.Description }}

</div>
<!-- <div class="day" ng-repeat="(dayIndex, day) in calendar">
  <div class="item item-divider item-divider-calm">
    {{day.weekday}}
  </div>
  <div ng-show="day.title" class="item item-list item-text-wrap dayhighlight">
    <h2>{{day.title}}</h2>
    {{day.description}}
  </div>

  <ion-list>
    <ion-item ng-class="{'item-avatar':item.shortname, 'star': item.star}"
    class="item-text-wrap item-icon-right"
    ng-repeat="item in day.schedule | filter: query"
    href="#">

      <img ng-show="item.shortname" ng-src="img/{{item.shortname}}_tn.jpg" alt="{{item.name}} Photo">
      <h2>{{item.time}}</h2>
      <h3>{{item.title}}</h3>
      <h4>{{ item.artist ? ' with ' + item.artist : ''}}</h4>
      <p>{{ item.description }}</p>

      <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star"></button>
      <ion-option-button class="button-calm" ng-click="toggleStar(item)"><i class="icon ion-star"></i></ion-option-button>
      <ion-option-button class="button-assertive" ng-click="onItemDelete(dayIndex, item)"><i class="icon ion-trash-a"></i></ion-option-button>

    </ion-item>
  </ion-list>

</div> -->
<!--   <div class="button button-block button-primary" ng-click= "onClickTest()">
    Test U Stupid Bitch
  </div> -->
</ion-content>
</ion-view> 


<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class = "bar-positive">
      <div class="button button-clear" ng-click = "onClickAdd()">添加</div>
      <h1 class="title">添加日程</h1>
      <div class="button button-clear" ng-click = "onClickCancel()">取消 </div>
    </ion-header-bar>
    <ion-content class ="padding">
      <div class ="calendar-modal"ui-calendar="uiConfig.calendar2" class="span8 calendar" ng-model="eventSources" ng-if = "loadingDone2" ></div>

      <div class="item item-divider item-divider-calm"> 新增 </div> 



  <label class="item item-input item-select">
    <div class="input-label">
      选择日期（未来30天）
    </div>
    <select ng-model = "data.selectedDate">
      <option ng-repeat =  "item in datesOptions" >{{item.toLocaleDateString()}}</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      选择时间
    </div>
    <select ng-model = "data.selectedTime">
      <option selected>上午</option>
      <option >下午</option>
      <option >晚上</option>
    </select>
  </label>
    </ion-content>
  </ion-modal-view>
</script>