<ion-view view-title = "主页 " hide-nav-bar="true">

  <ion-header-bar class="bar-positive nav-title-slide-ios7">
    <button class="button button-icon icon ion-qr-scanner " ng-click="QRscan()">扫一扫</button>
    <div class="h1 title">主页</div>
    <button class="button button-icon icon ion-plus-round" ng-click="addpatient()">新患者</button>
  </ion-header-bar>
<!-- 
  <ion-nav-bar class="bar-positive nav-title-slide-ios7">

    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-qr-scanner " ng-click="QRscan()">扫一扫</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-plus-round" ng-click="addpatient()">添加新患者</button>
    </ion-nav-buttons>
  </ion-nav-bar> -->
<div class="bar-shadow"></div>
<ion-content>
  <div class="list card" style="border:#BBBBBB 1px solid">
    <div class="item item-avatar">
      <img ng-src="{{imgURI}}">
      <h3>{{ userInfo.BasicInfo.name }} </h3>
      <h2>{{userInfo.DtInfo.unitname}}</h2>
      <div class="badge badge-balanced">{{userInfo.BasicInfo.id}}</div> 
    </div>
    <div class = "item item-divider">        
    </div>     

    <div class ="item item-icon-left">
      <i class="icon ion-person"></i>
      {{userInfo.DtInfo.jobTitle}}
    </div>       
    <div class ="item item-icon-left" >
      <i class="icon ion-ios-pulse-strong"></i>
      {{userInfo.DtInfo.dept}}
    </div>     
    <div class ="item item-icon-left">
      <i class="icon ion-arrow-graph-up-left"></i>
      {{userInfo.DtInfo.level}}
    </div>
  </div>
  <ion-list>
    <div class ="padding ">
            <button class="button button-block  button-energized" ng-click="onClickCheck()" ng-hide="state == '已激活'">
      进入审核页面 {{state}}
    </button>
    
        <span class="button button-block  icon ion-information-circled" ng-click="onClickPersonalInfo()" href='#/personalinfo'>
          个人信息
        </span>

        <span class="button button-block  icon ion-gear-a" ng-click="onClickPersonalConfig()">
          设置
        </span>



    </div>

  </ion-list>

</ion-content>

</ion-view>
