<ion-popover-view style="width:150px">
  <ion-content>
    <ion-list class="text-center">
      <ion-item style="padding-top:8px;padding-bottom:0" ng-repeat="rank in ranks track by $index" ng-click="rankBy($index)">
        <div style="border-bottom:#DDDDDD 1px solid;padding-bottom:8px"><p ng-show="{{rank.cilcked}}" style="color:#387EF5">{{rank.Name}}</p><p ng-hide="{{rank.cilcked}}">{{rank.Name}}</p></div>
      </ion-item>
      <ion-item style="padding-top:8px;padding-bottom:0" class="item" ng-click="modelopen()">
        <div style="border-bottom:#DDDDDD 1px solid;padding-bottom:8px"><b>更多选项</b></div>
      </ion-item>
      <ion-item style="padding-top:8px;padding-bottom:0" class="item" ng-click="resetfilter()">
        <div style="padding-bottom:8px"><b>重置</b></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>