

    <!-- Modal header bar -->
<ion-view title="慢病信息">


    <!-- Modal content area -->
    <ion-content>



      <div class = "row">
        <div class ="col col-50">
          <div class = "padding">
            <button class="button button-block button-primary" ng-click="clickCancel()">取消</button>
          </div>
        </div>
        <div class = "col col-50">
          <div class="padding">
          <button class="button button-block button-primary" ng-click="clickSubmit()">提交信息</button>
        </div>
        </div>
      </div> 

        <label class="item item-input">
          <span class="input-label">血糖值</span>
          <input type="text" placeholder="mmol/L" ng-model="value.glucose">
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
              测量时段
            </div>
            <select ng-model = "value.period">
              <option>凌晨</option>
              <option>早餐前</option>
              <option>早餐后</option>
              <option>午餐前</option>
              <option>午餐后</option>
              <option>晚餐前</option>
              <option>晚餐后</option>
              <option>睡前</option>
            </select>
          </label>




      <div>
        <h3><b>糖尿病模块详细信息</b></h3>
      </div>
      <form ng-submit="updateBoxes(inputboxModel)">
       
          <label class="item item-input item-select">
            <div class="input-label">
            是否有高血压病史
            </div>
            <select>
              <option>请选择</option>
              <option>是</option>
              <option>否</option>
              <option>未知</option>
            </select>
          </label>
          
          <li class="item item-checkbox">
            <label class="checkbox">
            <input type="checkbox" ng-model="inputboxModel.isTreatingHBP">
          </label>
          是否正在治疗高血压
          </li>
          

          
          <li class="item item-checkbox" >
             <label class="checkbox" >
               <input type="checkbox" ng-model="inputboxModel.isSmoker">
             </label>
             是否吸烟
          </li>
             
          
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="inputboxModel.isDiabetes">
             </label> 
             是否患糖尿病
          </li>
          

        
          
           
                <span >年龄</br>13</span>
          
            
                <span >姓名<br>叶良辰</span>
            
         

          
            
              <label class="item item-input item-stacked-label">
                <span class="input-label">身高/cm</span>
                  <input type="number" ng-model="inputboxModel.height">
              </label>              
            
            
              <label class="item item-input item-stacked-label">
                <span class="input-label">体重/kg</span>
                  <input type="number" ng-model="inputboxModel.weight">
              </label>
            
        

  
          
            <label class="item item-input item-stacked-label">
              <span class="input-label">腹围/cm</span>
                <input type="number" ng-model="inputboxModel.AC">
            </label>              
          
         
<!--               <span>BMI/kgm2</br>
              {{calcuModel.weight.BMI | number:1}}
              </span> -->
          
            


   
          
          <label class="item item-input item-stacked-label">
            <span class="input-label">当前收缩压/mmHg</span>
              <input type="number" ng-model="inputboxModel.SBP">
          </label>           
         
          
          <label class="item item-input item-stacked-label">
            <span class="input-label">当前舒张压/mmHg</span>
              <input type="number" ng-model="inputboxModel.DBP">
          </label>
          
          

        
          
          <label class="item item-input item-stacked-label">
            <span class="input-label">总胆固醇浓度/mmol/L</span>
              <input type="number" ng-model="inputboxModel.TCHO">
          </label>        
          
          
          <label class="item item-input item-stacked-label">
            <span class="input-label">高密度脂蛋白浓度/mmol/L</span>
              <input type="number" ng-model="inputboxModel.HDL">
          </label>
          
           

 
          <label class="item item-input item-stacked-label">
            <span class="input-label">低密度脂蛋白浓度/mmol/L</span>
              <input type="number" ng-model="inputboxModel.LDL">
          </label>          
          
       
          <label class="item item-input item-stacked-label">
            <span class="input-label">甘油三酯浓度/mmol/L</span>
              <input type="number" ng-model="inputboxModel.TG">
          </label>

    
     




      </form>

    </ion-content>

</ion-view>