<ion-view title="慢病信息">
	
	<ion-nav-buttons side="right">
		<a class="button icon ion-android-home" href='#/new/master'>
		</a>
	</ion-nav-buttons>

	<ion-content scroll='true'>
		<h4>患者建档进度：</h4><progress max="100" value="45"></progress>

		<div class="row responsive-sm">
			<div class="col">
				<button class="button  icon-left ion-checkmark button-stable">高血压模块</button>
			</div>
			<div class="col">		
				<button class="button  icon-left ion-edit button-stable">编辑</button>
				<button class="button icon-left ion-checkmark button-stable">保存</button>
			</div>
			<div class="col">
				<a class="button  icon-left ion-checkmark button-stable"
						href='#/new/new3'>上一步</a>
				<a class="button  icon-left ion-checkmark button-stable"
						href='#/new/new5'>下一步</a>
			</div>
		</div>
		<div class="row responsive-sm">
			<div class="col col-33 col-offset-33">
				<h3><b>高血压模块详细信息</b></h3>
			</div>
		</div>
		<div class="row responsive-sm">
			<div class="col col-33 col-offset-33">
				<h4><b>既往史</b></h4>
			</div>
		</div>
		<div class='row responsive-sm'>
			<div class='col col-25 col-offset-75'><a class="button button-stable"><b>从临床信息中同步数据</b></a>
			</div>
		</div>
		<div class='row responsive-sm'>
			<div class='col col-67 col-offset-33'>
				<div class="list">
					<label class="item item-input item-select">
						<div class="input-label">
						是否有高血压病史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有冠心病病史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有心肌梗塞病史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有过心脏骤停史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有房颤史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有心脏瓣膜病史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有中风史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<h4><b>现病史</b></h4>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有高脂血症
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有左室高血压
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<h4><b>家族史</b></h4>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有高血压家族史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有糖尿病家族史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<h4><b>治疗史</b></h4>
					<label class="item item-input item-select">
						<div class="input-label">
						是否接受过高血压治疗
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否正在接受高血压治疗
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有支架植入术史
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否接受过降糖治疗
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<h4><b>用药史</b></h4>
				</div>
			</div>
		</div>
		<div class="row responsive-sm">
			<div class='col col-67 col-offset-33'>
				<div class="list">
					<div class="row responsive-sm">
						<div class='col col-25'>
							<p>口服降压药种类(冠心病、高血压、心力衰竭药物)</p>
						</div>
						<div class='col col-25'>
							<select>
								<option>请选择</option>
								<option>利尿剂</option>
								<option>血管紧张素转化酶抑制剂(ACEI)</option>
								<option>β受体阻滞剂</option>
								<option>醛固酮拮抗剂</option>
								<option>血管紧张素受体拮抗剂(ARB)</option>
								<option>二氢吡啶类钙拮抗剂</option>
								<option>非二氢吡啶类钙拮抗剂</option>
								<option>抗血小板和抗凝药</option>
								<option>硝酸酯类</option>
								<option>心绞痛药物</option>
								<option>α受体阻滞剂</option>
							</select>
						</div>
						<div class='col col-25'>
							<select>
								<option>请选择</option>
							</select>
						</div>
						<div class='col col-25'>
							<button class="button button-light">删除</button>
							<button class="button button-light">添加</button>
						</div>
					</div>
					<div class="row responsive-sm">
						<div class='col col-25'>
							<p>口服降糖药种类</p>
						</div>
						<div class='col col-25'>
							<select>
								<option>请选择</option>
								<option>第一代磺酰脲类药物</option>
								<option>第二代磺酰脲类药物</option>
								<option>格列奈类</option>
								<option>双胍类</option>
								<option>α-糖苷酶抑制剂</option>
								<option>噻唑烷二酮类(TZDs)</option>
								<option>二肽基酶(DPP4)抑制剂</option>
								<option>胰岛素</option>
							</select>
						</div>
						<div class='col col-25'>
							<select>
								<option>请选择</option>
							</select>
						</div>
						<div class='col col-25'>
							<button class="button button-light">删除</button>
							<button class="button button-light">添加</button>
						</div>
					</div>
					<div class="row responsive-sm">
						<div class='col col-25'>
							<p>合并用药</p>
						</div>
						<div class='col col-25'>
							<select>
								<option>请选择</option>
							</select>
						</div>
						<div class='col col-25'>
							<select>
								<option>请选择</option>
							</select>
						</div>
					</div>
					<label class="item item-input item-select">
						<div class="input-label">
						是否规律用药
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						是否有药物不良反应
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<h4><b>个人史</b></h4>
					<label class="item item-input item-select">
						<div class="input-label">
						是否经常体育锻炼
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<h4>饮食习惯</h4>
					<ul class="list">
					   	<li class="item item-checkbox">
					     	<label class="checkbox">
					       		<input type="checkbox">
					    	</label>
					     	荤食为主
					  	</li>
					  	<li class="item item-checkbox">
					     	<label class="checkbox">
					       		<input type="checkbox">
					    	</label>
					     	素食为主
					  	</li>
					  	<li class="item item-checkbox">
					     	<label class="checkbox">
					       		<input type="checkbox">
					    	</label>
					     	荤素各半
					  	</li>	
					  	<li class="item item-checkbox">
					     	<label class="checkbox">
					       		<input type="checkbox">
					    	</label>
					     	喜欢高盐食物
					  	</li>
					  	<li class="item item-checkbox">
					     	<label class="checkbox">
					       		<input type="checkbox">
					    	</label>
					     	喜欢油炸食物
					  	</li>	
					</ul>
					<label class="item item-input item-select">
						<div class="input-label">
						饮酒频率 
						</div>
						<select>
							<option>请选择</option>
							<option>一日多次</option>
							<option>一日一次</option>
							<option>除非重要场合不饮酒</option>
							<option>完全不饮酒</option>
						</select>
					</label>
					<label class="item item-input item-select">
						<div class="input-label">
						近期是否吸烟
						</div>
						<select>
							<option>请选择</option>
							<option>是</option>
							<option>否</option>
							<option>未知</option>
						</select>
					</label>
					<label class="item item-input">
						开始吸烟年龄：<input type="text">
					</label>
					<label class="item item-input">
						开始吸烟年龄：<input type="text">
					</label>
					<h4><b>体格检查</b></h4>
					<label class="item item-input">
						身高(cm)：<input type="text">
					</label>
					<label class="item item-input">
						体重(kg)：<input type="text">
					</label>
					<label class="item item-input">
						当前心率(次/分)：<input type="text">
					</label>
					<label class="item item-input">
						最大肺活量(mL)：<input type="text">
					</label>
					<label class="item item-input">
						治疗前舒张压水平(mmHg)：<input type="text">
					</label>
					<label class="item item-input">
						目前舒张压水平(mmHg)：<input type="text">
					</label>
					<label class="item item-input">
						治疗前收缩压水平(mmHg)：<input type="text">
					</label>
					<label class="item item-input">
						目前收缩压水平：<input type="text">
					</label>
					<h4><b>化验检查</b></h4>
					<label class="item item-input">
						血肌酐(mmol)：<input type="text">
					</label>
					<label class="item item-input">
						血总胆固醇(mmol)：<input type="text">
					</label>
					<label class="item item-input">
						高密度脂蛋白胆固醇(mmol/L)：<input type="text">
					</label>
					<label class="item item-input">
						低密度脂蛋白胆固醇()mmol/L：<input type="text">
					</label>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>