<ion-view title="慢病信息">

	<ion-nav-bar class="bar-positive nav-title-slide-ios7">
		<ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
	</ion-nav-bar>

    <ion-nav-view ></ion-nav-view>
  <!-- <ion-content> -->
    <!-- <div>    
      <ion-list>
      <ion-item collection-repeat='Module in ModuleInfo'>
        <p href="#/addpatient/ModuleInfo/{{Module.ModuleCode}}">{{Module.ModuleName}}<p>
      </ion-item>
    </ion-list>
  </div> -->
  <!-- </ion-content> -->
</ion-view>
