<ion-view title="慢病信息">
<ion-header-bar>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="onClickBackward()"></a>
    <h2 class="title">慢病信息</h2>
    <a class="button icon-right ion-chevron-right button-clear button-dark" ng-click="onClickForward()"></a>
</ion-header-bar>



 <!--  <ion-nav-view name="ModuleInfo"></ion-nav-view> -->
  <!-- <ion-content> -->
    <!-- <div>    
      <ion-list>
      <ion-item collection-repeat='Module in ModuleInfo'>
        <p href="#/addpatient/ModuleInfo/{{Module.ModuleCode}}">{{Module.ModuleName}}<p>
      </ion-item>
    </ion-list>
  </div> -->
  <!-- </ion-content> -->
</ion-view>
