<ion-view cache-view="false" title="基本信息">
	
	<ion-nav-bar class="bar-positive nav-title-slide-ios7">
		<ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
		    <ion-nav-buttons side="right">
      <button class="button button-clear icon-right ion-arrow-up-a" ng-click="scrollTop()"></button>
      <button class="button button-clear icon-right ion-arrow-down-a" ng-click="scrollBottom()"></button>
    </ion-nav-buttons>
	<!-- 	<a class="button button-clear icon-right ion-arrow-up-a" ng-click="scrollTop()">        
        </a>
        <a class="button button-clear icon-right ion-arrow-down-a" ng-click="scrollBottom()"></a> -->
	</ion-nav-bar>

	
	<div class="bar-shadow"></div>
	<ion-content scroll='true'>
<!-- <progress  max="100" value="15"></progress> -->
		<div class = "list item-list">
			<div class="item item-divider ">
			个人基本信息
			</div>
			<label class="item item-input">
				手机号：<input type="text" ng-model="PhoneNo" disabled="disabled">
			</label>
			<label class="item item-input">
				ID：<input type="text" ng-model="users.UserId" disabled="disabled">
			</label>
			<label class="item item-input">
				*姓名：<input type="text" placeholder="" ng-model="users.UserName">
			</label>
			<ionic-datepicker input-obj="datepickerObject">											
				<label class="item">		        
		        	<div>
		        		<span>*生日</span>
		        		<span class="item-note">
		          		{{B}}
		        		</span>
		      		</div>
	     	 	</label>
	     	</ionic-datepicker>
			<label class="item item-input item-select">
				<div class="input-label">
					*性别
				</div>
				<select ng-model="users.Gender" ng-options="Gender for Gender in Genders">
					<option selected value="">请选择</option>
					<!-- <option selected>男</option>
					<option>女</option> --> 
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					*血型
				</div>
				<select ng-model="users.BloodType" ng-options="BloodType for BloodType in BloodTypes">
					<option selected value="">请选择</option>
				</select>
			</label>
			<label class="item item-input">
				*身份证号码：<input type="text" ng-model="users.IDNo">
			</label>
					<label class="item item-input item-select">
						<div class="input-label">
							*医保类型
						</div>
						<select ng-model="users.InsuranceType" ng-options="InsuranceType for InsuranceType in InsuranceTypes">
							<option selected value="">请选择</option>
						</select>

					</label>
			<div class="item item-divider ">
				详细个人信息
			</div>
					<label class="item item-input trial">
						家庭住址：<input type="text" ng-model="HomeAddress.Value">
					</label>
					<label class="item item-input">
						联系电话：<input type="text" ng-model="PhoneNumber.Value">
					</label>		
				<label class="item item-input">
						国籍：<input type="text" ng-model="Nationality.Value">
					</label>
					<label class="item item-input">
						职业：<input type="text" ng-model="Occupation.Value">
					</label>
					<label class="item item-input">
						紧急联系人：<input type="text" ng-model="EmergencyContact.Value">
					</label>
					<label class="item item-input">
						紧急联系人电话：<input type="text" ng-model="EmergencyContactPhoneNumber.Value">
					</label>
	  			<p style="color:#FF0000">{{logStatus}}</p>
	  			
	  		





	  		<div class ="padding">
	  		
				<button class="button  button-block button-primary icon-left ion-checkmark button-stable"
						 ng-click="save()">保存</button>
				<button class="button  button-block  button-primary icon-left ion-refresh button-stable"
						ng-click="reset()">重置</button>
		
			</div>	


	
	</ion-content>
</ion-view>
		
		