<ion-view title="临床信息">
<!-- <ion-nav-bar class="bar-positive nav-title-slide-ios7"> -->
    <!-- <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button> -->
    <!-- <a class="button icon-right ion-chevron-right button-clear button-dark" ng-click="onClickForward()"></a> -->
<!-- </ion-nav-bar> -->
<div class="bar-shadow"></div>
<ion-content class="content-item-list">
	<div class="row">
		<div class="col-50">
			<div class="item item-select" style="height:52px">
				<select>
					<option selected>海军总医院</option>
				</select>
			</div>
		</div>
		<div class="col-50 ">
			<div class="item item-input-inset">
				<p>就诊ID</p>
				<label class="item-input-wrapper">
					<input type="text" ng-model="SyncInfo.userid">
				</label>				
			</div>
		</div>
	</div>

	<div class="row" style="padding-bottom:0">
		<div class="col-75" style="padding-right:2%">
			<ionic-datepicker input-obj="datepickerObject" >
			<button class="button button-block button-stable" >起始日期{{tt}}</button>
		</ionic-datepicker>

	</div>
		<div class="col-25 ">
			<button class="button button-block button-assertive" ng-click="synclinicinfo()" >同步</button>
		</div>

	</div>
	<div class="row" style="padding-top:0;padding-bottom:0">
		<button ng-click="NextPage()" class="button button-block button-positive">下一步</button>
	</div>
<!-- 	<div class="col ">
		<div class="item item-select">
			就诊日期 
			<div >
				<select ng-model="SyncInfo.Time" ng-options="a.Time for a in clinicinfo">
					<option value="">请选择就诊日期</option>
				</select>
			</div>
		</div>
	</div> -->


<!-- <div class="row">
	<div class="button-bar">
		<a class="button button-block button-positive" href="#/tab/clinic/examinationinfo" ng-click="examdata2local()" >同步信息</a>
	</div>
</div> -->





<ion-list>
	<ion-item class="item-margin" ng-repeat='item in cliniclist | orderBy : "-AdmissionDate"'  >
	<div class="row">
		<h2 >入院时间：{{item.AdmissionDate}}</h2>
	</div>
	<div class="row">
		<h2 >出院时间：{{item.DischargeDate}} </h2>
	</div>
	<div class="row">
		<h2 ng-model="SyncInfo.visitedid">就诊号:{{item.VisitId}}</h2>
	</div>
	<!-- <div class="row">
		<a class="col col-50"  >就诊号：<h2 ng-model="SyncInfo.visitedid">{{item.VisitId}}</h2></a>
	</div> -->
	<div class="col-67">
		<div class="button-bar">
			<button class="button button-small button-outline button-positive" ng-click="openexaminfomodal(cliniclist.indexOf(item))">检查</button> 
			<button class="button button-small button-outline button-positive" ng-click="opendruginfomodal(cliniclist.indexOf(item))">用药</button> 
			<button class="button button-small button-outline button-positive" ng-click="opendiaginfomodal(cliniclist.indexOf(item))">诊断</button></div>
		</div>
	</div>
	</ion-item>
<ion-list>





</ion-content>
</ion-view>
<!-- 
<div class="row">
	<div class="button-bar">
		<a class="button button-block button-positive" href="#/tab/clinic/examinationinfo" ng-click="examdata2local()" >检查</a>
		<a class="button button-block button-positive"  href="#/tab/clinic/druginfo" ng-click="drugdata2local()">用药</a>
		<a class="button button-block button-positive" href="#/tab/clinic/DiagnosisInfo" ng-click="diagdata2local()">诊断</a>
	</div>
</div> -->







