<ion-view cache-view="false" title="慢病信息">
<div class="bar-shadow"></div> 
  <ion-content>
    
      <ion-list>
          <ion-item  ng-repeat='Module in ModuleInfo' href="#/addpatient/ModuleInfo/{{Module.ModuleCode}}">
            <a class="item item-icon-right" href="#/addpatient/ModuleInfo/{{Module.ModuleCode}}">
            	{{Module.ModuleName}}
	           	<i class="icon ion-chevron-right icon-gray"></i>
	        </a>
          </ion-item>
      </ion-list>

    <button ng-click="NextPage()" class="button button-block button-positive">下一步</button>
  </ion-content>
</ion-view>
