<ion-view title="慢病信息">
<div class="bar-shadow"></div> 
  <ion-content>
      <ion-list>
      <div ng-repeat='Module in ModuleInfoList'>
        <ion-item href="#/addpatient/ModuleInfo/{{Module.CategoryCode}}/{{Module.ItemCode}}"  ng-if="Module.ItemCode.indexOf('0000') > -1">
          <h2>{{Module.ItemName}}</h2>
        </ion-item>
      </div>
    </ion-list>
  <div>
    <button class="button button-block button-positive" ng-click="onClickBackward1()">完成</button>
  </div>
  </ion-content>
</ion-view>
