<ion-view title="信息录入" >

<ion-nav-bar class="bar-positive nav-title-slide-ios7"> 
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>  
<!--   <ion-nav-buttons side="left">
    <button class="button button-icon ion-arrow-left-c" ng-click="onClickBackward()"></button>
  </ion-nav-buttons> -->
</ion-nav-bar>
  <div class="bar-shadow"></div> 
<ion-content>

      <div class = "row">
        <div class ="col col-50">
          <div class = "padding">
            <button class="button button-block button-primary" ng-click="clickCancel()">取消</button>
          </div>
        </div>
        <div class = "col col-50">
          <div class="padding">
          <button class="button button-block button-primary" ng-click="clickSubmit()">提交信息</button>
        </div>
        </div>
      </div>


<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
        <div class="card">
    	  <div class="item item-divider">
    <h2>高血压风险描述<h2>
  </div>
        <label class="item item-input">
          <span class="input-label">当前收缩压</span>
          <input type="number" placeholder="mmHg" ng-model="value.SBP">
        </label>


        <label class="item item-input">
          <span class="input-label">当前舒张压</span>
          <input type="number" placeholder="mmHg" ng-model="value.DBP">
        </label>
<div class="item item-divider" style = "background-color:#FFFFFF">  </div>
    </div>
    
  </ion-slide>


  <ion-slide>
<div class="card">
    	  <div class="item item-divider">
    <h2>糖尿病风险描述<h2>
  </div>
		<label class="item item-input">
          <span class="input-label">当前血糖值</span>
          <input type="number" placeholder="mmol/L" ng-model="value.glucose">
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
              测量时段
            </div>
            <select ng-model = "value.period">
              <option>凌晨</option>
              <option>早餐前</option>
              <option>早餐后</option>
              <option>午餐前</option>
              <option>午餐后</option>
              <option>晚餐前</option>
              <option>晚餐后</option>
              <option>睡前</option>
            </select>
          </label>
 <div class="item item-divider" style = "background-color:#FFFFFF">  </div>   
    </div>
  </ion-slide>
</ion-slide-box>
</ion-content>
