
<!-- 顶部标签 -->
<ion-header-bar class="bar-dark">
<div class="buttons">
  <button class="ion-chevron-left" data-tags="arrow, left" data-pack="default" ng-click="doSomething()"></button>
</div>
<h1 class="title">患者管理</h1>
<div class="buttons">
  <button class="button icon-right ion-android-home" href="#/coach/patients"></button>
</div>
</ion-header-bar>
<ion-header-bar class="bar-subheader bar-stable">
<label class="item item-input item-select">
  <div >
    <h2>患者姓名：{{Name}}      性别：{{gender}}        年龄：{{age}}</h2>
  </div>
  <select>
    <option selected>高血压模块</option>
    <option>糖尿病模块</option>
  </select>
</label>
</ion-header-bar>


<ion-tabs class="tabs-dark tabs-icon-top">
<ion-tab title="计划情况"  icon="ion-stats-bars " href="#/manage/plan">
<ion-nav-view name="plan-tab"></ion-nav-view>
</ion-tab>

<ion-tab title="临床信息" icon="ion-document-text "  href="#/manage/clinic" >
<ion-nav-view name="clinic-tab"></ion-nav-view>
</ion-tab>

<ion-tab title="慢病信息" icon="ion-ios-barcode"  href="#/manage/ModuleInfo">
<ion-nav-view name="ModuleInfo"></ion-nav-view>
</ion-tab>

<ion-tab title="计划调整" icon="ion-ios-loop-strong "  href="#/manage/create">
<ion-nav-view name="changeplan"></ion-nav-view>
</ion-tab>

<ion-tab title="消息发送" icon="ion-ios-chatbubble"  href="#/manage/chat">
<ion-nav-view name="chat"></ion-nav-view>
</ion-tab>
</ion-tabs>


<!--  style="height=1000px;"  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>

      <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab> -->