<ion-view cache-view="false" title="慢病信息">
<!-- <ion-header-bar>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="onClickBackward()"></a>
    <h2 class="title">慢病信息</h2> -->
    <!-- <a class="button icon-right ion-chevron-right button-clear button-dark" ng-click="onClickForward()"></a> -->
    <!-- </ion-header-bar> -->
<!--   <ion-header-bar class="bar-subheader bar-stable">
    <div class="row" style="padding:0px">
      <div class="col-75"><h3>{{Name}}      {{gender}}        {{age}}岁</h3></div>
      <div  class="col-25 text-right"> <button class="button icon-right" ng-click="backtocoach()">返回主页</button></div>    
    </div>  
  </ion-header-bar> -->
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button icon button-icon ion-android-home" ng-click="backtocoach()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false">
    <div style="padding:0 0 0 12px;background-color:#387ef5;margin:0;text-color:#FFFFFF"> 
    <h3 style="color:#FFFFFF;font-size:1.4em;padding-top:5px;margin:0;">{{Name}}  {{gender}}  {{age}}</h3>
  </div>
    <ion-list>    
      <!-- <ion-item  ng-repeat='Module in ModuleInfo' href="#/manage/ModuleInfo/{{Module.ModuleCode}}" ng-if="Module.Flag"> -->
<!--         <a class="item item-icon-right">
          {{Module.ModuleName}}<i class="icon ion-chevron-right icon-gray"></i>
        </a> -->         
      <!-- </ion-item> -->
      <a ng-repeat='Module in ModuleInfo' class="item" href="#/manage/ModuleInfo/{{Module.ModuleCode}}" ng-if="Module.Flag">
        {{Module.ModuleName}}
        <!-- <i class="icon ion-chevron-right icon-gray"></i> -->
      </a>
    </ion-list>
  </ion-content>
</ion-view>
