<ion-nav-view>
<ion-content >


<div>
  <div class="button-bar ">
   <a class="button"  href="#/manage/plan/tablegraph">依从率图</a>
   <a class="button"  href="#/Independent/table/tablelist" ng-click="showvitalsigns()"> 体征表</a> 
   <a class="button"  href="#/Independent/risk" >风险评估</a>
 </div>
<!-- ng-change="changeplan()" -->

 <div >
  <div class="row">
    <div class="rol ">
      <p>计划选择：</p>
     <select ng-model="planList" ng-change="changeplan(planList)">
      <option value="{{latestplan}}">当前计划：{{latestplan}}</option>
      <option ng-repeat="item in formerPlanInfo" value="{{item.PlanNo}}">往期计划：{{item.PlanNo}}</option>
    </select >

<!--  <select ng-model="planInfo" ng-change="changeplanInfo(planInfo)" ng-options="option.PlanNo for option in planinfo" class="select-block select-calm">{{option.PlanName}}:{{option.PlanNo }}
    </select>
 -->
    <select ng-model="vitalInfo" ng-change="changeVitalInfo(vitalInfo)" ng-options="option.SignName for option in options" class="select-block select-calm">
    </select>
  </div>

</div>
  <div class="row">
    <div class="col">
      <p>单位（血压：mmHg，心率：次/分钟，血糖：nmol/L）</p>
    </div>
  </div>


</div>
<div ng-if=diaplaysm><b>暂无数据</b></div>
<div id='chartdiv3'></div>

<div style="text-align:center;margin-top:20px;">    
  <p style="color:#2894FF;font-size:16px;">计划进度20%，离结束还有20天</p>
</div>
</div>




<!-- <div > 

 <table border="1">
  <tr>
   <th width=22%><div >Month</div></th>
     <th width=22%><div align=center>Month</div></th>
    <th width=22%><div align=center>Month</div></th>    
    <th width=22%><div align=center>Month</div></th>
 <th width=22%><div align=center>Month</div></th>
  </tr>
  <tr>
    <td><div align=center>January</div></td>
    <td><div align=center>$100</div></td>
      <td><div align=center>January</div></td>
    <td><div align=center>$100</div></td>
      <td><div align=center>January</div></td>
  </tr>
</table>                         
 </div> -->




                        </ion-content> 

                      </ion-nav-view>


<!--    <div>
     <a class="button"  href="#/tab/plan/lucosegraph" ng-click="showglucosechart()">血糖</a>
   
   </div> -->

