/* Empty. Add your own CSS if you like */
.item h3 {
  font-size: 0.8rem;
  font-weight: bold;
  color: #417D9A;
}
.item h2 {
  font-size: 1.2rem;
  font-weight: bold;   
}
.item h1 {
  font-size: 1.23rem;
    color: #666666;
    font-weight: bold; 
    /*margin-top: 8px;*/
    /*font-style: italic*/
}
.item h6 {
  font-size: 0.8rem;
  color: #666666;
  margin-top: 8px;
  font-style: italic
}
.item h5 {
  font-size: 1.23rem;
  color: #417D9A;
}

/*.item-thumbnail-left img {
  padding:0 !important;

}*/
.item-row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  width: 100%;
}
hr.list { 
  /*content: '列表缓存';*/
  border: 0; 
  height: 0.1px; 
  text-align: center;
  /*color:#689f38;*/
  background-image: -webkit-linear-gradient(left, #f0f0f0, #689f38, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #689f38, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #689f38, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #689f38, #f0f0f0); 
}
hr.list:after {
  content: '列表缓存';
  font-style: italic;
  display: inline-block;
  position: relative;
  top: -10px;
  padding: 0px;
  margin:0;
  background: #F3F3F3;
  color: #689f38;
  font-size: 14px;
}
.processbar{
	background-color:#3aa7dd;
	height:100%;
}

.markDisplay1
{
  display:block;
}
.markDisplay0
{
  display:none;
}

.markDisplaytrue
{
  display:block;
}
.markDisplayfalse
{
  display:none;
}

.markDisplay 
{
  display:none;
}

#chartdiv {#chartdiv {
  width   : 100%;
  height    : 250px;
  font-size : 15px;
  display: inline;
  background-color: #EEE8D6;
} 
  width: 100%;
  height: 250px;
  background-color: #F7F4EA;
 
}

.trial {
  background-color: rgba(38,157,128,0.5);
  /*border-top: 20px solid rgba(38,157,128,0.5);*/
}

.item-divider {
  background-color: rgba(38,157,128,0.2);
}

.lable-item-item-input{
  background-color: rgba(38,157,128,0.3);
  color: #417D9A;
}

.m1 {
  background-color: rgba(38,157,128,0.13);
  border-top: 20px solid #BEEF9E;
}
.m2 {
  background-color: rgba(38,157,128,0.07);
  border-top: 20px solid #A6C36F;
}
.m3 {
  background-color: rgba(38,157,128,0.04);
  border-top: 20px solid #335145;
}

#riskchart {#riskchart {
  width   : 100%;
  height    : 250px;
  font-size : 15px;
  display: inline;
  background-color: #EEE8D6;
} 
  width: 100%;
  height: 300px;
  background-color: #F7F4EA;
 
}
#chartdiv2 {#chartdiv2 {
  width   : 100%;
  height    : 250px;
  font-size : 15px;
  background-color: #EEE8D6;
} 
  width: 100%;
  height: 250px;
  background-color: #F7F4EA;
}

#chartdiv3 {
  width: 100%;
  height: 400px;
  font-size : 11px;
}

.content-item-list{
  background-color:#F7F7F7;
  padding-top:0 !important;
}
.item-margin{
  padding:2px;
  margin:6px;
  /*border-right: 0;*/
  /*border-bottom:0;*/
  border:0;
  /*-moz-box-shadow:1px 2px 2px #999;*/
  /*-webkit-box-shadow:1px 2px 2px #999;*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  /*box-shadow:0px 0px 3px #999;*/
}
.bar-shadow{
  position: absolute;
  top: 40px;
  z-index:99;
  display: block;
  /*-moz-box-shadow:0px 4px 5px #999;*/
  /*-webkit-box-shadow:0px 4px 5px #999;*/
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.35);
  /*box-shadow:0px 4px 5px #999;*/
  width: 100%;height:4px;
  background-color: transparent; 
}
.sub-bar-shadow{
  position: absolute;
  top: 85px;
  z-index:99;
  display: block;
/*  -moz-box-shadow:0px 3px 4px #999;
  -webkit-box-shadow:0px 3px 4px #999;
  box-shadow:0px 3px 4px #999;*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%;height:3px;
  background-color: transparent; 
}
.footer-shadow{
  position: absolute;
  bottom: 45px;
  z-index:99;
  display: block;
  /*-moz-box-shadow:0px -3px 4px #999;*/
  /*-webkit-box-shadow:0px -3px 4px #999;*/
  /*box-shadow:0px -3px 4px #999;*/
  box-shadow: -1px -1.5px 3px rgba(0, 0, 0, 0.25);
  width: 100%;height:3px;
  background-color: transparent; 
}
.badge1 {
 /* background-color: transparent;*/
  /*color: #AAAAAA;*/
  z-index: 1;
  display: inline-block;
  padding: 4px 4px;
  /*min-width: 10px;*/
  border-radius: 8px;
  vertical-align: top;
  text-align: center;
  white-space: nowrap;
  /*font-weight: bold;*/
  font-size: 5px;
  line-height: 7px; 
  background-color: #ef473a;
  color: #fff;}
  .badge1:empty {
    display: none; }
.icon-gray{
  color:#AAAAAA;
}
/*progress{
  margin: 0px !important;
  -webkit-progress-bar-value:#FF0000;
  -webkit-progress-value:#FF0000;
  -moz-progress-bar:#FF0000;
 }*/

 progress {margin: 0px !important}

progress::-moz-progress-bar {background-color: #689f38 !important;}
/*progress::-webkit-progress-bar-value {background-color: #DDDDDD !important;}*/
/*progress::-webkit-progress-value {background-color: #689f38 !important;}*/
/*.olive{
 background-color:  #689f38;
}*/
/*---------------------------------------------------*/
  